*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color: mediumaquamarine;
}

.title {
  display: flex;
  justify-content: center;
}

.names {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 10px;
}
