*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-color: paleturquoise
}
.button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
.title {
  display: flex;
  justify-content: center;
}
#subtitle {
  /* padding-bottom: 10px; */
  font-family: 'Josefin Sans', sans-serif;
  display:flex;
  justify-content: center;
  margin-top: -10px;
  font-size: 12px;
  font-color:#928E72;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    padding: -15px;
    font-size: 30px;
    font-color:#928E72;
}
#subsubtitle {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-width: 10px;
  border-style: solid;
  border-color: paleturquoise;
  background-color: paleturquoise;
  font-size: 45px;
}
.recycle {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
#subrecycle {
  padding-top: 20px;
}
#subcompost {
 padding-top: 20px;
}
.compost {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
#home {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}

#about_us {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}


#play {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}

#parent_info {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}
