*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-color: #CCE5DD
}
.title {
  display: flex;
  justify-content: center;
}
#subtitle {
  padding-bottom: 10px;
}
#subsubtitle {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-width: 10px;
  border-style: solid;
  border-color: #b7ced5;
  background-color: #b7ced5;
  font-size: 45px;
}
.recycle {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
#subrecycle {
  padding-top: 20px;
}
#subcompost {
 padding-top: 20px;
}
.compost {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
