*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color: #D2E7E0;

}

h1{
  font-family: 'Quicksand', sans-serif;
  display:flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  padding: -15px;
  font-size: 50px;
  font-color:#44D1DF;
}

p{
  font-family: 'Quicksand', sans-serif;
  display:flex;
  justify-content: center;
  margin-top: -10px;
  font-size: 10px;
  font-color:#928E72;
}

.box{
  display: inline;
}



.checks{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 16px;
  justify-content: space-around;
  margin: 15px;
  font-family: 'Quicksand', sans-serif;
}

.checks input {
  display: inline;
}

#points {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 20px;
}
