*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-color: #D2E7E0;

}

h1{
  font-family: 'Quicksand', sans-serif;
  display:flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  padding: -15px;
  font-size: 50px;
  font-color:#928E72;
}

p{
  font-family: 'Quicksand', sans-serif;
  display:flex;
  justify-content: center;
  margin-top: -10px;
  font-size: 10px;
  font-color:#928E72;
}
