* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  /* padding-bottom: 10px; */
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background-color: paleturquoise;
}
.button {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
.title {
  display: flex;
  justify-content: center;
}

.text {
  font-size: 30px;
  display: flex;
  /* justify-content: center; */

}
#subtitle {

  display:flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  /* color: #928E72; */
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 30px;
    font-color:#928E72;
}

.info {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}
#intro {
  padding-top: 0px;
}
h1 {
  padding: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: paleturquoise;
  background-color: paleturquoise;
  font-size: 50px;
}
p {
  padding: 5px;
  display: flex;
  justify-content: center;
}
#home {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}

#how-to {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}

#information {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}

#parent_info {
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
  height: 40px;
  border: solid;
  border-radius:10px;
  background-color: paleturquoise;
}
